.login-b{
  padding: 10px 40px;
  font-size: 20px;
  background-color: #633D19;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 650px;
  margin-right: 650px;
  margin-top: 50px;
  
}